In [1]:
# import requests
# from urllib import request, urlopen
import requests
import urlopen
import pandas as pd
import numpy as np

200

In [2]:
url = "https://api.exchangeratesapi.io/history?start_at=2014-10-20&end_at=2018-09-01&base=USD&symbols=IDR"

response = requests.request("GET", url)

In [3]:
response.json()

{'success': False,
 'error': {'code': 101,
  'type': 'missing_access_key',
  'info': 'You have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]'}}

In [122]:
report = pd.io.json.json_normalize(response.json()['rates'])

In [123]:
data =report.transpose()

In [126]:
data.sort_index()

                           0
2014-10-20.IDR  12015.415329
2014-10-21.IDR  11995.353393
2014-10-22.IDR  12003.364059
2014-10-23.IDR  12043.428842
2014-10-24.IDR  12075.527293
...                      ...
2018-08-27.IDR  14627.250064
2018-08-28.IDR  14621.998292
2018-08-29.IDR  14655.000000
2018-08-30.IDR  14690.001711
2018-08-31.IDR  14788.430178

[990 rows x 1 columns]

In [108]:
data_array = np.array(data)

In [110]:
data = pd.DataFrame(data_array)

In [111]:
data

            0
0    13947.48
1    15441.30
2    14074.33
3    14930.95
4    14725.56
..        ...
985  15389.36
986  14862.96
987  15368.89
988  15286.41
989  13758.43

[990 rows x 1 columns]