Modeling LSTM Architechture

# Import libraries

In [11]:
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping

from bunch import bunchify

print("import several libraries that are used as modeling deep lstm, including hard, pandas, numpy, and sklearn processing. \n** if this text appears, it means the library has been successfully installed")

import several libraries that are used as modeling deep lstm, including hard, pandas, numpy, and sklearn processing.
** if this text appears, it means the library has been successfully installed

# Read Datasets
> **Notes**
>
> read the dataset of USD and JPY exchange rates against the rupiah, from 01-01-2014 to 01-01-2021

## USD-IDR

In [12]:
usd = pd.read_csv('datasets-usd.csv', index_col='Date')
print(f"Number of row and columns: {usd.shape}")
usd.head()

Number of row and columns: (1809, 4)

              Price     Open     High      Low
Date
2014-01-01  12170.0  12170.0  12170.0  12170.0
2014-01-02  12160.0  12195.0  12260.0  12150.0
2014-01-03  12170.0  12160.0  12245.0  12160.0
2014-01-06  12180.0  12195.0  12245.0  12180.0
2014-01-07  12237.5  12197.5  12277.5  12197.5

## JPY-IDR

In [13]:
jpy = pd.read_csv('dataset-jpy.csv', index_col='Date')
print(f"Number of row and column: {jpy.shape}")
jpy.head()

Number of row and column: (1828, 4)

             Price    Open    High     Low
Date
2014-01-01  115.64  115.48  115.71  115.33
2014-01-02  116.07  115.52  116.45  115.19
2014-01-03  116.07  115.90  117.58  115.84
2014-01-06  116.87  115.91  117.48  115.84
2014-01-07  116.97  116.75  117.64  116.43

# Data Single Fitur Configuration

Pada tahap ini data yang diproses hanya fitur data ***Price*** saja. fitur  ***Open***, ***High***, dan ***Low*** diabaikan.

> **Notes**
>
> perform the process of sharing training and test data, then the data will be normalized in standard form.

## Data spliting (training & testing)

> **Notes**
> Pembagian data training dan testing menggunakan rasio 80% awal untuk training dan 20% terakhir sebagai testing

In [14]:
# split function

def split(data, n_train=0.8, n_test=0.2):
    train_set = data.Price.iloc[:round(n_train*len(data))].values
    test_set = data.Price.iloc[round( n_train*len(data) ):].values
    return train_set, test_set

In [15]:
datasets={
    "usd": {},
    "jpy": {}
}
datasets["usd"]["train_set"], datasets["usd"]["test_set"] = split(usd)
datasets["jpy"]["train_set"], datasets["jpy"]["test_set"] = split(jpy)

## Scaling data with MinMaxFunction [-1, 1]

\begin{equation}
X\_std = \frac{({X} - {X.min(axis=0)})} {(X.max(axis=0) - X.min(axis=0))}\\
\\
X\_scaled = X\_std * (max - min) + min\\
\end{equation}

In [16]:
# scaling data with MinMaxFunction
scaler = MinMaxScaler(feature_range=(-1,1))

# transform dataset to (len(data), 1)
datasets["usd"]["train_set"] = datasets["usd"]["train_set"].reshape(
    len(datasets["usd"]["train_set"]), 1
)
datasets["jpy"]["train_set"] = datasets["jpy"]["train_set"].reshape(
    len(datasets["jpy"]["train_set"]), 1
)

datasets["usd"]["test_set"] = datasets["usd"]["test_set"].reshape(
    len(datasets["usd"]["test_set"]), 1
)
datasets["jpy"]["test_set"] = datasets["jpy"]["test_set"].reshape(
    len(datasets["jpy"]["test_set"]), 1
)

In [17]:
datasets["usd"]["train_set"].shape

(1447, 1)

In [18]:
# scaling traning datasets
datasets["usd"]["train_set_scaled"] = scaler.fit_transform(datasets["usd"]["train_set"])
datasets["jpy"]["train_set_scaled"] = scaler.fit_transform(datasets["jpy"]["train_set"])

# scaling testing datasets
datasets["usd"]["test_set_scaled"] = scaler.fit_transform(datasets["usd"]["test_set"])
datasets["jpy"]["test_set_scaled"] = scaler.fit_transform(datasets["jpy"]["test_set"])

In [68]:
# convert nested dictionaty to objects

class obj(object):
    def __init__(self, d):
        for a, b in d.items():
            if isinstance(b, (list, tuple)):
               setattr(self, a, [obj(x) if isinstance(x, dict) else x for x in b])
            else:
               setattr(self, a, obj(b) if isinstance(b, dict) else b)

In [69]:
data = obj(datasets)

In [74]:
data.jpy.train_set.shape

(1462, 1)